html {
  font-size: 16px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* Main Navigation */

.nav-main {
  background: white;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-main .logo {
  display: flex;
  align-items: center;
  color: #9b9b9b;
}

.nav-main .logo span {
  font-weight: bold;
  color: black;
}


.nav-main ul {
  text-align: right;
  width: 100%;
}

.nav-main ul li {
  display: inline;
  padding-right: 1rem;
}

/* Banner */

.banner {
  background: #d8d8d8;
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
}

.banner .col-1 {
  width: 60%;
}

.banner .col-2 {
  width: 40%;
}

.banner img {
  width: 100%;
}

.banner .text  {
  margin: 0 2rem;
}

.banner .text h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.banner .text p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.banner .text a {
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: 1rem;
  background: #4a4a4a;
  color: white;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
}
