html {
  font-size: 16px;
  line-height: 1.4;
  font-family: Helvetica;
  color: #4a4a4a;
}

/********** Navigation **********/

.nav {
  background: white;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav .logo {
  display: flex;
  align-items: center;
  color: #9b9b9b;
}

.nav .logo span {
  font-weight: bold;
  color: #4a4a4a;
}

.nav ul {
  text-align: right;
  width: 100%;
}

.nav ul li {
  display: inline;
  padding-right: 1rem;
}

.nav ul li a {
  text-decoration: none;
  color: #4a4a4a;
}

.nav ul li a:hover {
  color: #9b9b9b;
}

.nav.mobile {
  display: none;
}

.nav.mobile ul li {
  padding: 0 1rem;
}

/********** Columns **********/

.col-1 {
  width: 60%;
  /* background: blue; */
}

.col-2 {
  width: 40%;
  /* background: red; */
}

/********** Banner **********/

.banner {
  background: #d8d8d8;
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
}

.banner img {
  width: 100%;
}

.banner .text  {
  margin: 0 2rem;
}

.banner .text h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.banner .text p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.2;
}

.banner .text a {
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: 1rem;
  background: #4a4a4a;
  color: white;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
}

.banner .text a:hover {
  background: #9b9b9b;
}

/********** Info main **********/

.info-main {
  background: #f3f5f5;
  display: flex;
  align-items: top;
  padding: 2rem 1.5rem;
}

/* Coloumn 1 */

.info-main .col-1 img {
  width: 100%;
}

.info-main .col-1 h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 0 1rem 0;
}

.info-main .col-1 p {
  padding-bottom: 1rem;
  line-height: 1.2;
  color: #767676;
}

.info-main .col-1 span {
  font-size: 0.8em;
  color: #767676;
}

/* Coloumn 2 */

.info-main .col-2 .item {
  display: flex;
  align-items: center;
  margin: 0 0 0 1rem;
  padding: 1rem;
  border-left: 1px solid #d8d8d8;
}

.info-main .col-2 .item:last-child {
  background: #d8d8d8;
}

.info-main .col-2 .item img {
  width: 35%;
  height: auto;
}

.info-main .col-2 .item .text {
  margin-left: 1rem;
}

.info-main .col-2 .item .text h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.info-main .col-2 .item .text p {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  line-height: 1.2;
  color: #767676;
}

.info-main .col-2 .item .text a {
  font-size: 0.9rem;
  color: #5194e3;
  text-decoration: none;
}

/********** Courses **********/

.courses {
  background: #d8d8d8;
  padding: 2rem 4rem;
}

.courses h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 2rem 0;
  text-align: center;
}

.courses div.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.courses article.course {
  width: 30%;
  background: white;
  margin-bottom: 2rem;
}

.courses article.course img {
  width: 100%;
}

.courses article.course .text {
  padding: 1rem;
}

.courses article.course .text h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.courses .text h4 {
  font-size: 0.8rem;
  color: #767676;
  padding-bottom: 0.5rem;
}

.courses .text p {
  font-size: 0.8rem;
  color: #767676;
  line-height: 1.6;
}

/********** Exhibit **********/

.exhibit {
  background: #f3f5f5;
}

.exhibit h2 {
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.exhibit .container {
  display: flex;
  align-items: top;
  padding: 2rem 1.5rem;
}

/* Coloumn 1 */

.exhibit .col-1 video {
  width: 100%;
  height: auto;
  background: grey;
}

.exhibit .col-1 h3 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.exhibit .col-1 p {
  line-height: 1.5;
  color: #767676;
}

/* Coloumn 2 */

.exhibit .col-2 .item {
  display: flex;
  align-items: center;
  margin: 0 0 0 1rem;
  padding: 1rem;
  border-left: 1px solid #d8d8d8;
}

.exhibit .col-2 .item:first-child {
  background: #d8d8d8;
}

.exhibit .col-2 .item img {
  width: 35%;
  height: auto;
}

.exhibit .col-2 .item .text {
  margin-left: 1rem;
}

.exhibit .col-2 .item .text h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.exhibit .col-2 .item .text p {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  color: #767676;
}

.exhibit .col-2 .item .text a {
  font-size: 0.9rem;
  color: #5194e3;
  text-decoration: none;
}

/********** Footer **********/

footer {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-top: 1px solid #d8d8d8;
}

footer .copyright {
  width: 50%;
}

footer ul {
  text-align: right;
  width: 50%;
}

footer li {
  display: inline;
  padding-right: 1rem;
}

footer ul li a {
  text-decoration: none;
  color: #4a4a4a;
}

footer ul li a:hover {
  color: #9b9b9b;
}


/********** Responsive **********/

@media only screen and (max-width: 900px) {
  .col-1 {
    width: 50%;
  }

  .col-2 {
    width: 50%;
  }

  .banner .text h1 {
    font-size: 1.5rem;
  }

  .banner .text p {
    font-size: 1rem;
  }

  .info-main .col-1 h2 {
    font-size: 1.5rem;
  }

  .courses {
    padding: 2rem 1rem;
  }

  .courses h2 {
    font-size: 1.5rem;
  }

  .exhibit h2 {
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 620px) {
  .nav.desktop {
    display: none;
  }
  .nav.mobile {
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .nav.mobile .logo div {
    display: none;
  }

  
}
