html {
  font-size: 16px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* Main Nav */

.nav-main {
  background: white;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-main .logo {
  display: flex;
  align-items: center;
  color: #9b9b9b;
}

.nav-main .logo span {
  font-weight: bold;
  color: black;
}


.nav-main ul {
  text-align: right;
  width: 100%;
}

.nav-main ul li {
  display: inline;
  padding-right: 1rem;
}

/* Columns */

.col-1 {
  width: 60%;
  background: blue;
}

.col-2 {
  width: 40%;
  background: red;
}

/* Banner */

.banner {
  background: #d8d8d8;
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
}

.banner img {
  width: 100%;
}

.banner .text  {
  margin: 0 2rem;
}

.banner .text h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.banner .text p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.banner .text a {
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: 1rem;
  background: #4a4a4a;
  color: white;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
}

/* Info main */

.info-main {
  display: flex;
  align-items: top;
  padding: 2rem 1.5rem;
}

.info-main .col-1 img {
  width: 100%;
}

.info-main .col-1 h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 0 1rem 0;
}

.info-main .col-1 p {
  padding-bottom: 1rem;
}

.info-main .col-1 span {
  font-size: 0.8em;
}

.info-main .item {
  background: green;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem;
}

.info-main .item img {
  width: 35%;
  height: auto;
}

.info-main .item .text {
  margin-left: 1rem;
}

.info-main .item .text h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.info-main .item .text p {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.info-main .item .text a {
  font-size: 0.9rem;
  color: #5194e3;
  text-decoration: none;
}

/* Course */

.courses {
  background: #d8d8d8;
  padding: 2rem 4rem;
}

.courses h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 2rem 0;
  text-align: center;
}

.courses div.container {
  background: purple;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.courses article.course {
  width: 30%;
  background: white;
  margin-bottom: 2rem;
}

.courses article.course img {
  width: 100%;
}

.courses article.course .text {
  padding: 1rem;
}

.courses article.course .text h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.courses .text h4 {
  font-size: 0.8rem;
  color: #767676;
  padding-bottom: 0.5rem;
}

.courses .text p {
  font-size: 0.8rem;
  color: #767676;
  line-height: 1.6;
}
